*{
    background-color:darkcyan;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height : 100%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 45px;
    color: white;
    background: linear-gradient(145deg, darkslategray,darkslategray);
    padding: 15px;
    border-radius: 27px;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
}
.container{
    display: flex;
    flex-direction: column;
    border: 13px solid darkslategray;
    border-radius: 5px;
    height: 60%;
    width:23%;
    min-width: 390px;
    max-width: 400px;
}

.display{
    background-color: black;
    height: 20%;
    border: 5px black;
    display: flex; 
    justify-content: end;
    align-items: center;
    width: 100%;
}

.btns{
    border: 5px solid black;
    height: 80%;
    display: flex;
    gap: 0;
}

.nums{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding-bottom: 0;
}

.box{
    height:70px;
    width:93px;
    margin: 1px;
    border-radius: 0;
    font-size: 30px;
    font-weight: bold;
}


.text{
    margin-right: 8px;
    color: white; 
    font-size: 60px; 
    font-weight: bold;
    background-color: transparent;
    padding: 5px;
    overflow:auto;
    text-overflow:ellipsis;
}

.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    width: 100%;
    padding-left: 50px; 
    padding-right: 50px;
    padding-bottom: 10px;
}
.top{
    font-weight: bold;
    font-size: 20px;
    color:black;
}